* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(36, 134, 220);
    color: white;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 60%;
    margin: 10px;
    padding-right: 100px;
 
}


.logo {
    font-size: 30px;
}

.home{
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}
.about{
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}
.services{
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}
.portfolio{
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}
.contact{
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}
.login{
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}
.signup {
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-left: 40px;
    /* margin: 10px; */
    font-size: 20px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: rgb(36, 134, 220);
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
}


@media screen and (max-width:1186px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15;
        left: 35px;
    }

    .nav-links {
        display: none;
    }

    .nav-linksmobile {
        text-decoration: none;
        list-style: none;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #005469;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .home,
    .about,
    .services,
    .portfolio,
    .contact,
    .login,
    .signup {
        text-decoration: none;
        list-style: none;
        color: aliceblue;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #00828c;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}

@media screen and (max-width:863px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15;
        left: 35px;
    }

    .nav-links {
        display: none;
    }

    .nav-linksmobile {
        text-decoration: none;
        list-style: none;
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #005469;
        color: rgba(112, 10, 208, 0.704);
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .home,
    .about,
    .services,
    .portfolio,
    .contact,
    .login,
    .signup {
        text-decoration: none;
        list-style: none;
        color: rgba(112, 10, 208, 0.704);
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: #00828c;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}